@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tambahan style global (jika perlu) */
body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

/* Contoh custom scrollbar (opsional) */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #8DC43F;
  border-radius: 9999px;
}